.custom-swiper {
    width: 100%;
    max-width: 1200px;
    padding-left: 25px;
    overflow: hidden;
}

.custom-swiper .swiper-button-prev {
    transform: translateX(-10px);
}

.custom-swiper .swiper-button-next {
    transform: translateX(14px);
}

.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
    color: black;
    font-size: 24px;
}
